.finance-data {
    width: 100%;
    padding: 10px 10px;
}

.data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 18px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 10px 30px;
    
}
.span-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-delete {
    font-size: 22px;
    color: red;
}

.icon-edit {
    font-size: 19px;
}